spring:
  datasource:
    url: jdbc:mysql://localhost:3306/prueba01?useSSL=false&serverTimezone=UTC
    username: root
    password: Pa$$2025
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
server:
  port: 8080
